* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --temp: #8c6a03;

  --color-bg: #1e2c5c;
  --color-bg-transparent: #1e2c5ced;
  --color-bg-variant-light: #1e88db;
  --color-bg-variant-dark: #0e152c;
  --color-bg-variant-dark-transparent: #0e152ccb;

  --color-primary: #d9a404;
  --color-primary-transparent: #d9a40469;
  --color-primary-variant-light: #8c6a03;
  --color-primary-variant-dark: #b88a00;

  --color-secondary: #a8202e;
  --color-secondary-dark: #600e22;

  --color-white: #ffffff;
  --color-light: rgba(255, 255, 255, 0.6);

  --color-black: #000000;

  --transition: all 400ms ease;
  /*
  * #A8202E  #600E22  #961C59  #DA3C32
  *
  * #154D87  #1E88DB  #3474A4  #1E2C5C
  *
  * #115228  #124B46  #5A8149  #3BA44E  #B7D143
  *
  * #E67D2A  #F4AE24  #E5A127
  */
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('../login-bg.jpeg');
  background-color: var(--color-bg-variant-dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--color-white);
  line-height: 1.7;
}

/* #################### GENERAL STYLES #################### */
blank__space {
  padding: 15px;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-light);
  text-align: center;
  z-index: 1000;
}

#loading-spinner {
  border: 8px solid var(--color-white);
  border-top: 8px solid var(--color-primary-variant-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 40% auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.menu__logo {
  text-align: center;
  padding: 20px;
}
.menu__image img {
  max-width: 100%;
  height: auto;
}

.container {
  background: var(--color-bg-variant-dark-transparent);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-black);

  ul {
    display: flex;
    cursor: default;

    li {
      padding: 1rem;
      cursor: pointer;
    }
  }
}

a,
.a {
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: var(--transition);
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
}

a:hover,
.a:hover {
  color: var(--color-white);
  border-color: var(--color-primary);
}

#acesso {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#logoutButton {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  color: var(--color-primary);
  padding: 0 20px 20px 20px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

section {
  background: var(--color-bg-transparent);
  min-height: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
}

.text-light {
  color: var(--color-light);
  font-size: 1rem;
}

.btn {
  font-size: 1.5rem;
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transiction);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.outsideMenu-box {
  position: absolute;
  top: 1px;
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  display: flex;
  background: var(--color-bg-variant-dark-transparent);
  justify-content: center;
}

.menu-box {
  min-width: 250px;
  position: absolute;
  top: 300px;
  background: var(--color-bg);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 10px var(--color-bg-variant-dark-transparent);
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    transition: none;
  }
}

.popup {
  list-style-type: none;
  padding: 0;
}

.popup li {
  margin: 20px 0;
}

.popup li button {
  color: var(--color-primary);
  background: transparent;
  font-size: 24px;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.popup li button:hover {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-bg-variant-dark);
}

.link-voltar {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: medium;
  color: white;
}

.link-voltar:hover {
  color: #000000;
}

#container-adm,
#container-adm2,
#search {
  background: var(--color-bg-variant-dark-transparent);
  padding: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
  text-align: center;
  cursor: default;

  h2 {
    margin-bottom: 1rem;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;

    li {
      cursor: default;

      a {
        background: var(--color-primary);
        color: var(--color-bg);
        padding: 1rem;

        &&:hover {
          background-color: transparent;
          border-color: var(--color-primary);
          color: var(--color-primary);
        }
      }
    }
  }
}

#search {
  display: flex;

  .search {
    margin: auto;
    position: absolute;
    margin-left: 5.4rem;
    margin-top: 7.5rem;
  }
}

@media screen and (min-width: 890px) {
  #cadastroForm,
  #cadastroForm2,
  #search {
    width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    label {
      width: 10rem;
      text-align: right;
      margin-left: 12rem;
    }

    input {
      margin-right: 13rem;
    }

    .botoes {
      margin-right: 13rem;
    }
  }
  #search {
    display: flex;

    .search {
      margin: auto;
      position: absolute;
      margin-left: 46rem;
      margin-top: 0.5rem;
    }
  }
}

#cadastroForm,
#cadastroForm2,
#search {
  display: grid;
  font-size: 1.5rem;
  padding: 1.5rem;

  input,
  #cargo,
  #optAcesso,
  .acesso-opt {
    font-size: 1.5rem;
    height: 4rem;
    width: 20rem;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--color-light);
    border-radius: 1rem;
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    transition: var(--transition);

    &:hover {
      border-color: var(--color-primary);
    }

    &::placeholder {
      color: var(--color-light);
      transition: var(--transition);
    }

    &:focus::placeholder {
      transform: translateY(-20px);
      font-size: 0.8rem;
    }
  }

  #submit-cad,
  #submit-cad2,
  #search {
    font-size: 1.5rem;

    &&:hover {
      background-color: var(--color-primary-variant-dark);
      border-color: var(--color-white);
      color: var(--color-white);
    }
  }

  .btnLogin {
    background: transparent;
    font-size: 1.5rem;
    color: var(--color-primary);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    width: 6rem;

    &&:hover {
      border-color: var(--color-primary);
    }
  }

  .search {
    font-size: 1.5rem;
  }
}

#submit-cad3,
#submit-cad4 {
  background-color: var(--color-secondary);
  color: var(--color-white);
  transition: var(--transition);

  &&:hover {
    background-color: var(--color-black);
  }
}

.sugestoes-carregadas {
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 1rem;
    margin-bottom: 1.5rem;

    &&:hover {
      background-color: var(--color-bg-variant-dark);
      border-color: var(--color-primary);
    }

    a {
      display: flex;
      font-size: 1rem;
      margin-top: 1.5rem;
      width: 7rem;
      height: 3rem;
      text-align: center;
      justify-content: center;
    }
  }
}

/* #####################  MEDIA QUERIES - MEDIUM DEVICES ######################*/

@media screen and (max-width: 1280px) {
}

/* #####################  MEDIA QUERIES - SMALL DEVICES ######################*/

@media screen and (max-width: 900px) {
  ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  a,
  .a {
    font-size: 1.3rem;
    padding: 0.1rem;
  }
}
