:root {
  --temp: #8c6a03;

  --color-bg: #1e2c5c;
  --color-bg-transparent: #1e2c5ced;
  --color-bg-variant-light: #1e88db;
  --color-bg-variant-dark: #0e152c;
  --color-bg-variant-dark-transparent: #0e152ccb;

  --color-primary: #d9a404;
  --color-primary-transparent: #d9a40469;
  --color-primary-variant-light: #8c6a03;
  --color-primary-variant-dark: #b88a00;

  --color-secondary: #a8202e;
  --color-secondary-dark: #600e22;

  --color-white: #ffffff;
  --color-light: rgba(255, 255, 255, 0.6);

  --color-black: #000000;

  --transition: all 400ms ease;
  /*
  * #A8202E  #600E22  #961C59  #DA3C32
  *
  * #154D87  #1E88DB  #3474A4  #1E2C5C
  *
  * #115228  #124B46  #5A8149  #3BA44E  #B7D143
  *
  * #E67D2A  #F4AE24  #E5A127
  */
}

body {
  padding: 15px;
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  z-index: 1000;
}

#loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #a8820d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 40% auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  color: var(--color-primary);
  padding: 20px;
  margin: 0;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
}

.text-light {
  color: var(--color-light);
  font-size: 2rem;
  margin-bottom: -1rem;
}

.ministrante {
  color: var(--color-white);
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0 2px;
}

a,
.a {
  text-decoration: none;
  color: #8c6a03;
  font-size: 1.5rem;
  transition: color 0.3s;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
  align-items: center;
}

a:hover,
.a:hover {
  color: #fff;
  border: 1px solid #fff;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

@media (max-width: 600px) {
  /* Adaptação para telas menores */
  h1 {
    font-size: 1.5rem;
  }

  li {
    display: block;
    margin: 10px 0;
  }

  a,
  .a {
    display: block;
    margin: 10px 0;
  }

  .container {
    width: 80%;
    max-width: none;
  }
}
#acesso {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#logoutButton {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.outsideMenu-box {
  position: absolute;
  top: 1px;
  height: 1200px;
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  display: flex;
  background-color: #d9a40469;
  justify-content: center;
}

.menu-box {
  min-width: 250px;
  position: absolute;
  top: 300px;
  background-color: #bf9004; /* Cor de fundo amarelo escuro */
  border: 1px solid #8c6a03; /* Borda amarela escura */
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  list-style-type: none;
  padding: 0;
}

.popup li {
  margin: 20px 0;
}

.popup li button {
  color: #fff;
  font-size: 2rem;
  background-color: #bf9004;
  border: 0;
  display: flex;
  flex-direction: column;
}

.popup li button:hover {
  color: #000000; /* Cor do link ao passar o mouse */
}

.link-voltar {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5rem;
  color: white;
}

.link-voltar:hover {
  color: #000000; /* Cor do link ao passar o mouse */
}

h3 {
  color: #ffffff4d;
}

form {
  max-width: 50rem;
  margin: auto;
}